@model AlmondDataTable

<div class="row-sm-5 soru">
    <p id="question">@Model.question</p>
</div>

<div class="row-sm-5 cevap">
    static i = @Model
    <p id="answer">@Model.answer</p>
</div>
@Html.Hidden("dataId", Model.Id)
