@model ContactTable
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Yeni Özellik Öner?</h1><br /><br />
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Ajax.BeginForm("SuggestNewFeature", "User", new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "clearTextBox",
                OnFailure = "failmessage"
            }))
            {
                <div class="modal-body">
                    <h6>
                        AlmondWeb'de görmek istediğin yeni geliştirmelerin, fikirlerin varsa bizle paylaş! Öneri konusunda ise tamamen özgürsün :)
                    </h6>
                    <div class="mb-3">
                        @Html.TextBoxFor(x => x.contactMail, new { @class = "form-control", placeholder = "Email", type = "email", required = "required", id = "email" })
                    </div>

                    <div class="input-group">
                        @Html.TextAreaFor(x => x.message, new { @class = "form-control", id = "messageSuggestNewFeature", required = "required", maxlength = "1000", rows = 10, cols = 30, style = "resize:none", placeholder = "Mesajınız minumum 10, maksimum 1000 karakter olmalıdır." })
                    </div>
                    <input type="reset" style="display:none" id="resetButtonSuggest" />
                    <h6 class="small mt-2">Örnek Öneri: Oluşturulan listeleri uygulama kullanan diğer kişiler ile paylaşabilmek.</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnclosesuggest" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-success" id="btnsubmitSuggestNewFeature">Gönder</button>
                </div>
            }
        </div>
    </div>
</div>

<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script>
    function clearTextBox() {
        $("#btnclosesuggest").click();
        $("#resetButtonSuggest").click();
        toastr.success('Mesajınız bize ulaştı.Teşekkürler.', 'İşlem Başarılı', { closeButton: true, timeOut: 2500 });
    } function failmessage() {
        $("#btnclosesuggest").click();
        $("#resetButtonSuggest").click();
        toastr.warning('Mesaj gönderilemedi.Sayfayı yenileyip tekrar deneyiniz.', 'İşlem Başarısız', { closeButton: true, timeOut: 1500 });
    }
    $("#btnsubmitSuggestNewFeature").click(function (e) {
        let message = $("#messageSuggestNewFeature").val();
        if (message.length < 10) {
            e.preventDefault();
            toastr.info("Mesajınız en az 10 karakterden oluşmalı.", "Uyarı", { closeButton: true, timeOut: 2500 })
        }
    });
</script>