@model ContactTable
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

    List<string> list = new List<string>();

    list.Add("Tavsiye");
    list.Add("Teşekkür");
    list.Add("Site hakkında bilgi");
    list.Add("Hata bildirimi");
    list.Add("Yardım");
    list.Add("Diğer");


    SelectList selectList = new SelectList(list, "contactType");
}
<div class="row mb-5 ">
    <div class="col-sm-9 gx-0">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/background/contactimg.jpg" class="imglar d-block w-100 " alt="bg">
            </div>
        </div>
    </div>

    <div class="col-sm-3 bg-light">
        <h2 class="my-4" style="text-align: center; font-family:Dubai">İletişim</h2>

        @using (Ajax.BeginForm("Contact", "User", new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "clearTextBox",
            OnFailure = "failmessage"
        }))
        {
            <div class="mb-3">
                @Html.TextBoxFor(x => x.contactMail, new { @class = "form-control", placeholder = "Email", type = "email", required = "required", id = "email" })
            </div>

            <div class="input-group mb-3">
                @Html.DropDownListFor(x => x.contactType, selectList, new { @class = "form-select", id = "contactTypeList" })
            </div>

            <div class="input-group">
                @Html.TextAreaFor(x => x.message, new { @class = "form-control", id = "messageContact", required = "required", maxlength = "1000", minlenght = "10", rows = "16", style = "resize:none", placeholder = "Mesajınız minumum 10, maksimum 1000 karakter olmalıdır." })
            </div>
            <input type="reset" style="display:none" id="resetButton" />
            <div class="row">
                <div class="col-sm-12 mt-4">
                    <button type="submit" href="#" id="submitbtnContact" class="btn btn-success mt-3" style="text-align: center; width: 100% ;padding-top:10px"> Gönder</button>
                </div>
            </div>
        }
    </div>
</div>
<script>
    $("#submitbtnContact").click(function (e) {
        let message = $("#messageContact").val();
        if (message.length < 10) {
            e.preventDefault();
            toastrInfo("Mesajınız en az 10 karakterden oluşmalı.");
        }
    });
</script>