@model AlmondUserTable
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}


<div class="row justify-content-center">
    <div class="col-sm-4 my-3">
        @using (Html.BeginForm("ForgetPassword", "User", FormMethod.Post))
        {
            <div class="input-group">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", placeholder = "Kayıtlı Email adresinizi giriniz." })
                <button type="submit" class="btn btn-success" id="submitbtnEmail">Gönder</button>
            </div>
        }
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-sm-6">
        <div class="alert alert-success visually-hidden" id="alertemail">
            Girilen email adresine şifreni gönderdik.Eğer mailin ulaşmadığını düşünüyorsan Spam klasorüne bakmayı unutma.
        </div>
    </div>
</div>
<script>
    $("#submitbtnEmail").click(function () {
        let alert = $("#alertemail");
        alert.removeClass("visually-hidden");
    });
</script>
