@model AlmondUserTable
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
<script src="~/User/ForgetPassword"></script>

<div class="row justify-content-center">
    <div class="col-sm-4 mt-1">
        @*<label class="small alert alert-success">Mail Adresine aktivasyon maili gönderdik.Hesabı aktifleştirmek için maildeki kodu girmen gerekiyor.</label>*@
        <img src="~/Images/background/4673526.jpg" class="w-100 justify-content-center" alt="Alternate Text" />
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-4 my-3">
        @using (Html.BeginForm("ForgetPassword", "User", FormMethod.Post))
        {
            <div class="input-group">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", placeholder = "Kayıtlı Email adresinizi giriniz.", required = "required" })
                <button type="submit" class="btn btn-success" id="submitbtnEmail">Gönder</button>
            </div>
        }
    </div>
</div>

<script>
    function PasswordisSend() {
        toastrSuccess("Şifreniz Email adresinize gönderilmiştir.");
    }
    function EmailisNotRegister() {
        toastrFail("Girilen Email kayıtlı değildir.");
    }
</script>

