@model AlmondUserTable
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
<script src="~/User/ForgetPassword"></script>

<div class="row justify-content-center">
    <div class="col-sm-4 mt-1">
        <img src="https://i.ibb.co/5rzCDH1/4673526.jpg" class="w-100 justify-content-center" alt="Check your Internet" />
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-4 my-3">
        @using (Ajax.BeginForm("ForgetPassword", "User", new AjaxOptions { HttpMethod = "POST" }))
        {
            <div class="input-group">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", placeholder = "Kayıtlı Email adresinizi giriniz.", required = "required" })
                <button type="submit" class="btn btn-success" onclick="Loading()" id="submitbtnEmail">Gönder</button>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        function Loading() {
            toastrInfo("Email kontrol ediliyor...");
        }
        function PasswordisSend() {
            toastrSuccess("Şifreniz Email adresinize gönderilmiştir.Spam klasörünüzü kontrol etmeyi unutmayın!");
        }
        function EmailisNotRegister() {
            toastrFail("Girilen Email kayıtlı değildir.");
        }
    </script>
}
