
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-sm-3">
        <form>
            <div class="form-group">
                <input type="password" class="form-control my-3" placeholder="Yeni Şifre">
                <input type="password" class="form-control my-3" placeholder="Yeni Şifre (Tekrar)">
                <button type="submit" class="btn btn-success float-end">Kaydet</button>
            </div>
        </form>
    </div>
</div>

@*<div class="row justify-content-center mt-5">
        <div class="col-sm-6">
            <div class="alert alert-success ">
                Girilen email adresine şifreni değiştirme linki gönderdik. Linke tıklayarak şifreni değiştirebilirsin.
            </div>
        </div>
    </div>*@

