
<div class="modal fade" id="exampleModalguncelleliste" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Listenin ismini güncelleyebilirsiniz.</h1>
                <a class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <input type="text" id="modelTextUpdate" class="form-control" autofocus name="textcreate" required aria-describedby="inputGroup-sizing-default" placeholder="@ViewData["placeholderinModelText"]">
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</a>
                <a class="btn btn-success">Güncelle</a>
            </div>
        </div>
    </div>
</div>


