@{
    ViewBag.Title = "Liste İşlemleri";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
<div class="col-sm-12 mb-2" style="padding-top:2px">
    <div class="gx-2">
        <div class="row">
            @* Liste işlemlerinde liste ekleme butonu *@
            <div class="col-sm-3">
                <button type="button" class="buttoncreateList mb-3" data-bs-toggle="modal" data-bs-target="#exampleModallisteolustur">
                    <span class="button__text">Liste Oluştur</span>
                    <span class="button__icon"><svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><line x1="12" x2="12" y1="5" y2="19"></line><line x1="5" x2="19" y1="12" y2="12"></line></svg></span>
                </button>
            </div>
            <div class="col-sm-7"></div>
        </div>
        @* liste işlemlerinde liste ekleme popup ı *@
        <div class="modal fade" id="exampleModallisteolustur" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Liste Oluştur</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Vazgeç"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col form-check">
                            <div class="row-sm-3">
                                <input type="text" class="form-control" id="inputTextCreateList" autofocus name="textcreate" required aria-describedby="inputGroup-sizing-default" placeholder="Liste Adı (maks. 30 karakter)" maxlength="30">
                            </div>
                            <div class="row-sm-6 my-2">
                                <textarea class="form-control" id="listDescriptionTextArea" placeholder="Liste açıklamasını giriniz.Sade ve anlaşılır bir açıklama olmasına özen gösteriniz." style="resize:none" rows="5" maxlength="100"></textarea>
                            </div>
                            <!-- Liste Ekleme-->
                            <div class="row-sm-3 text-start">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="publicRadio" value="0">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Herkese Açık
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" value="1" id="privateRadio" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Gizli
                                    </label>
                                </div>
                            </div> <hr />
                            <p class="fst-italic" style="font-size:13px">*Oluşturmuş  olduğunuz listeye varolan verilerinizi aktarmak istiyorsanız Veri Güncelle sayfasından ilgili verinin listesini güncelleyebilirisiniz.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" id="closeBtnCreateList" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                        <button type="submit" id="confirmBtnCreateList" class="btn btn-success">Oluştur</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-2">
        <div class="col-sm-6" id="adminlayout">
            <!-- Listelerim Tablosu-->
            @Html.Action("MyAllListTable", "Home")
        </div>
        <div class="col-sm-6" id="savedlisttable">
            <!-- Kaydettiğim listelerim Tablosu-->
            @Html.Action("SavedListTablePartial", "Home")
        </div>
    </div>
</div>
<script async src="~/Scripts/Jquery.ajax/ListOperationsAjax.js" defer></script>

