@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

    int currentUserID = CacheHelper.CurrentUserID();

    SharedListManager slm = new SharedListManager();
    var list = slm.ListwithExpression(x => !x.isDeleted && x.profileId == currentUserID);

    var selectList = new SelectList(list, "listId", "List.listName");//liste listesini viewdata ile gönderiyoruz
}
<div class="mt-2">
    <div class="row justify-content-end gx-0">
        <div class="col-sm-3 offset-7">
            @Html.DropDownList("liste-dropdown", selectList, "Liste Seçiniz", new { @class = "form-select bg-white mainliste-dropdown", autofocus = "autofocus", required = "required", id = "liste-dropdown" })
        </div>
        <div class="col-sm-12 mt-2">
            <div class="row gx-0">
                <div class=" col-sm-8 offset-md-2 text-center pl-5" id="mainStage">
                    @Html.Action("MainPageQuestionAnswerPartial", "Home")
                </div>
            </div>
        </div>
    </div>

    <div class="row gy-0 mt-2" style="padding-top:11px;padding-bottom:3px">
        <!-- start Puanlama Kısımları-->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-10 offset-lg-1 butonlar">
                    <div class="col gx-0 text-center" style="border:none">
                        <button id="puan1" name="puanValue" type="submit" value="1" class="button border border-secondary-subtle puanlar">1</button>
                        <button id="puan2" name="puanValue" type="submit" value="2" class="button border border-secondary-subtle puanlar">2</button>
                        <button id="puan3" name="puanValue" type="submit" value="3" class="button border border-secondary-subtle puanlar">3</button>
                        <button id="puan4" name="puanValue" type="submit" value="4" class="button border border-secondary-subtle puanlar">4</button>
                        <button id="puan5" name="puanValue" type="submit" value="5" class="button border border-secondary-subtle puanlar">5</button>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end Puanlama Kısımları-->
</div>
@section Scripts{
    <script src="~/Scripts/Jquery.ajax/showQuestionAnswer.js"></script>
}