@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

    int currentUserID = CacheHelper.CurrentUserID();

    SharedListManager slm = new SharedListManager();
    var list = slm.ListwithExpression(x => !x.isDeleted && x.profileId == currentUserID);

    var selectList = new SelectList(list, "listId", "List.listName");//liste listesini viewdata ile gönderiyoruz
}
<script src="~/Scripts/Jquery.ajax/showQuestionAnswer.js"></script>
<div class="mt-2">
    <div class="row justify-content-end gx-0">
        <div class="col-sm-3 offset-7">
            @Html.DropDownList("liste-dropdown", selectList, "Liste Seçiniz", new { @class = "form-select bg-white mainliste-dropdown", autofocus = "autofocus", required = "required", id = "liste-dropdown" })
        </div>
        <div class="col-sm-12 mt-2">
            <div class="row gx-0">
                <div class=" col-sm-8 offset-md-2 text-center pl-5" id="mainStage">
                    @Html.Action("MainPageQuestionAnswerPartial", "Home")
                </div>
            </div>
        </div>
    </div>

    <div class="row gy-0 mt-2" style="padding-top:11px;padding-bottom:3px">
        <!-- start Puanlama Kısımları-->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-10 offset-lg-1 butonlar">
                    <div class="col gx-0 text-center" style="border:none">
                        <button id="puan1" name="puanValue" type="submit" value="1" class="button border border-secondary-subtle puanlar">1</button>
                        <button id="puan2" name="puanValue" type="submit" value="2" class="button border border-secondary-subtle puanlar">2</button>
                        <button id="puan3" name="puanValue" type="submit" value="3" class="button border border-secondary-subtle puanlar">3</button>
                        <button id="puan4" name="puanValue" type="submit" value="4" class="button border border-secondary-subtle puanlar">4</button>
                        <button id="puan5" name="puanValue" type="submit" value="5" class="button border border-secondary-subtle puanlar">5</button>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end Puanlama Kısımları-->
</div>

<script>
    let datalist;
    let i = 0;
    let listId;
    let que = $("#question");
    let ans = $("#answer");
    let mainStage = $("#mainStage");

    let listDropdown = document.getElementById("liste-dropdown");
    $("#liste-dropdown").change(function () {
        listId = listDropdown.value;
        ans.text("");
        $.ajax({
            method: "GET",
            url: `Home/GetQuestionAnswerJson/${listId}`, // URL düzgün formatta
            success: function (list) {
                if (list.length != 0) {
                    console.log(list);
                    datalist = list;
                    i = 0; // Yeni liste için indeks sıfırlanıyor
                    showQuestionAndAnswer(i); // İlk soru ve cevap gösteriliyor
                } else {
                    que.text("");
                    return toastr.info("Listede veri yok. Veri eklemelisiniz.", "Uyarı!", { closeButton: true, timeOut: 1500 });
                }
            }
        });
    });
    function isSelectList() {
        var selectedOption = $("#liste-dropdown option:selected");
        if (selectedOption.val() === "") {
            return toastr.warning("Liste seçimi yapmanız gerekiyor.", "Uyarı!", { closeButton: true, timeOut: 750 });
        }
        else {
            //ans.text("");
            //que.text("");
        }
    }
    $("#showAnswer").click(function () {
        isSelectList();
    })
    $(".puanlar").click(function () {
        isSelectList();
        var puanVal = $(this).val();
        $.ajax({
            method: "POST",
            url: 'Home/UpdatePuan',
            data: { dataId: datalist[i].update_Id, puan: puanVal, listIdPost: listId },
            success: function (result) {
                if (result > 0 && i + 1 < datalist.length) {
                    i++; // Bir sonraki soruya geçiliyor
                    showQuestionAndAnswer(i); // Yeni soru ve cevap gösteriliyor
                } else {
                    return endofList();
                }
            }
        });
    });

    // Soru ve cevapları gösteren fonksiyon
    function showQuestionAndAnswer(index) {
        ans.text("");
        que.text(datalist[index].question);
        $("#showAnswer").click(function () {
            ans.text(datalist[index].answer);
        });
    }

    function endofList() {
        console.clear();
        datalist = null;
        listDropdown.selectedIndex = 0;
        i = 0;
        toastr.success("İlgili listedeki tüm verileri gözden geçirdiniz.", "Tebrikler", { timeOut: 2500, closeButton: true });//TODO:buraya bi bak
        que.text("Listedeki bütün verileri gözden geçirdiniz.");
        ans.text("Devam etmek için Liste Seçiniz.");
    }

    $(document).ready(function () {
        $(document).keydown(mainpageShortcuts);
    });

    function mainpageShortcuts(event) {
        if (event.key === '1') {
            $("#puan1").click();
        }
        if (event.key === '2') {
            $("#puan2").click();
        }
        if (event.key === '3') {
            $("#puan3").click();
        }
        if (event.key === '4') {
            $("#puan4").click();
        }
        if (event.key === '5') {
            $("#puan5").click();
        }
        if (event.key === ' ') {
            event.preventDefault();
            $("#showAnswer").click();
        }
    }

    $(".puanlar").click(function () {
        var puan = $(this).val();
    });
</script>