.verieklebtn {
    width: 100%;
}

.saga-yasla {
    float: right;
}

.liste-dropdown {
    max-width: 100% !important;
}

form {
    text-align: center;
}

.butonlar {
    margin-bottom: 20px;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 400;
}

.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
    width: 80%;
    height: 225px;
    resize: none;
    place-items: center;
    display: inline-block;
    max-width: 100% !important;
}

.AlmondWebtext {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.input-group-text {
    margin: 10px;
    cursor: pointer;
}

main.container-fluid {
    min-height: 630px !important;
}
