
@{
    ViewBag.Title = "AllData";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Veri Tablosu
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                   id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Sahibi</th>
                                        <th>Soru</th>
                                        <th>Cevap</th>
                                        <th>Liste</th>
                                        <th>Puan</th>
                                        <th>Ekle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>1</td>
                                        <td>Ali Tekeş</td>
                                        <td>Bilgisayar Mühendisliği</td>
                                        <td>8-8-2023</td>
                                        <td>http://alitekes.com.tr</td>
                                        <td>http://github.com/alitekes1</td>
                                        <td>1</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
