<div>
    <script defer src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link defer href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script defer src="~/Scripts/AlmondJs/tableInizilation.js"></script>
</div>
<table id="example" class="cell-border order-column hover " style="text-align:center;width:100%;">
    <thead class="bg-success bg-opacity-50">
        <tr>
            <th class="text-center" width="5%">#</th>
            <th class="text-center" width="35%">Soru</th>
            <th class="text-center" width="35%">Cevap</th>
            <th class="text-center" width="5%">Puan</th>
            <th class="text-center" width="20%">Liste</th>
        </tr>
    </thead>
    <tbody class="text-center ">
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>105</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
        <tr>
            <td>sayac</td>
            <td>item.soru</td>
            <td>item.cevap</td>
            <td>item.puan</td>
            <td>liste</td>
        </tr>
    </tbody>
</table>
