@using AlmondWeb.Entities
@using AlmondWeb.BusinessLayer
@using AlmondWeb.WebApp.CacheHelper
@model AlmondDataTable

<div class="row-sm-5 soru">
    <p id="question">@Model.question</p>
</div>

<div class="row-sm-5 cevap">
    <p id="answer">@Model.answer</p>
</div>

<input type="hidden" name="dataId" form="formMain" value="@Model.Id" />