@model int
@{
    DataManager dm = new DataManager();
    int currentUserId = CacheHelper.CurrentUserID();

    List<AlmondDataTable> list = dm.ListwithExpression(x => x.Owner.Id == currentUserId && !x.isDeleted).OrderBy(x => x.puan).ToList();
}
<div class="row-sm-5 soru">
    <p id="question">@list[Model].question</p>
</div>

<div class="row-sm-5 cevap">
    <p id="answer">@list[Model].answer</p>
</div>
@Html.Hidden("dataId", list[Model].Id)
@Html.Hidden("listCount", list.Count())

