@model AlmondWeb.Entities.AlmondDataTable
<div class="row-sm-5 soru">
    <p id="question">@Model.question.ToString()</p>
</div>

<div class="row-sm-5 cevap">
    <p id="answer">@Model.answer.ToString()</p>
</div>
