@using AlmondWeb.Entities
@model AlmondDataTable

<div class="row-sm-5 soru">
    <p id="question">@Model.question</p>
</div>

<div class="row-sm-5 cevap">
    <p id="answer">@Model.answer</p>
</div>

<input type="hidden" id="dataId" name="dataId" form="formMain" value="@Model.Id" />


<script>
    $(".puanlar").click(function () {
        var puan = $(this).val();
        let dataId = $("#dataId").val();
        if (dataId > 0) {

            $.ajax({
                method="POST",
                url="Home/UpdatePuan" + dataId,
                data={ puanValue: puan },
                success: function (almondData) {
                    if (almondData != null) {
                        $("#data").html(almondData);
                        //
                        $("#answer").hide();
                        $("#showAnswer").click(function () {
                            $("#answer").show();
                        })
                    }
                    else {
                        alert("Listenin içinde hiç veri yok :( ");
                    }
                }
            })

        }
        else {
            alert("dataid alınamdı");
        }
    });

</script>