@model List<SharedListTable>

<link href="~/Content/AlmondCss/ProfileLists.css" rel="stylesheet" />
<div class="row mb-4" id="searchlists">
    @Html.Partial("Partials/_Saved_PublicListsPartial", Model, new ViewDataDictionary { { "cardButtonText", "Kaydet" } })
</div>
