@{
    int currentUserID = CacheHelper.CurrentUserID();

    SharedListManager slm = new SharedListManager();
    List<SharedListTable> list = slm.RelationList(currentUserID);
}
<link href="~/Content/AlmondCss/ProfileLists.css" rel="stylesheet" />
<div class="row mb-4 ">
    @Html.Partial("Partials/_Saved_PublicListsPartial", list, new ViewDataDictionary { { "cardButtonText", "Çıkar" } })
</div>