@{
    int currentUserID = CacheHelper.CurrentUserID();

    ProfileListManager plm1 = new ProfileListManager();
    List<ProfileListTable> list = plm1.RelationList(currentUserID);
}
<link href="~/Content/AlmondCss/ProfileLists.css" rel="stylesheet" />
<div class="row mb-4 ">
    @Html.Partial("Partials/_Saved_PublicListsPartial", list, new ViewDataDictionary { { "cardButtonText", "Çıkar" } })
</div>