<div class="row">
    <div class="col-sm-12 text-center">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop2" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h1 class="modal-title fs-5 " id="staticBackdropLabel">Kısayollar <span style="font-size:10px">*Mobilde geçerli değildir. </span></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        <button class="delete-button small">
                            1
                        </button>
                        -
                        <button class="delete-button small">
                            2
                        </button>                        -
                        <button class="delete-button small">
                            3
                        </button>                        -
                        <button class="delete-button small">
                            4
                        </button>                        -
                        <button class="delete-button small">
                            5
                        </button>
                        <label>Anasayfa da puanlama işlemlerinde kullanılır.</label>
                    </div>


                    <div class="modal-body text-start">
                        <button class="delete-button small">
                            Shift
                        </button>
                        +
                        <button class="delete-button small">
                            A
                        </button>
                        <label>Yeni sekmede Veri Ekleme sayfasını açar.</label>
                    </div>
                    <div class="modal-body text-start">
                        <button class="delete-button small">
                            Shift
                        </button>
                        +
                        <button class="delete-button small">
                            U
                        </button>
                        <label>Yeni sekmede Veri Güncelleme sayfasını açar.</label>
                    </div>
                    <div class="modal-body text-start">
                        <button class="delete-button small">
                            Shift
                        </button>
                        +
                        <button class="delete-button small">
                            D
                        </button>
                        <label>Yeni sekmede Veri Silme sayfasını açar.</label>
                    </div>
                    <div class="modal-body text-start">
                        <button class="delete-button small">
                            Shift
                        </button>
                        +
                        <button class="delete-button small">
                            L
                        </button>
                        <label>Yeni sekmede Liste İşlemleri sayfasını açar.</label>
                    </div>
                    <div class="modal-body text-start">
                        <button class="delete-button small">
                            Shift
                        </button>
                        +
                        <button class="delete-button small">
                            T
                        </button>
                        <label>Yeni sekmede Verilerim sayfasını açar.</label>
                    </div>                    <div class="modal-body text-start">
                        <button class="delete-button2 small">
                            Space
                        </button>
                        <label>Anasayfada Cevabı gösterir.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
