
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Yeni Özellik Öner?</h1><br /><br />
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>
                    AlmondWeb'de görmek istediğin yeni geliştirmelerin, fikirlerin varsa paylaş! Öneri konusunda ise tamamen özgürsün :)
                </h6>
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">E-mail</label>
                        <input type="text" class="form-control" required placeholder="Geri dönüş bu mail adresine yapılacaktır" autofocus id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Öneri:</label>
                        <textarea class="form-control" required cols="30" rows="10" placeholder="Mesaj" id="message-text"></textarea>
                    </div>
                </form>
                <h6 class="small">Örnek Öneri: Oluşturulan listeleri uygulama kullanan diğer kişiler ile paylaşabilmek.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Gönder</button>
            </div>
        </div>
    </div>
</div>