@using AlmondWeb.BusinessLayer
@{
    ViewBag.Title = "Veri Ekle";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    SelectList list = ViewData["list"] as SelectList;
    var myData = HttpContext.Current.Session["userId"];
    int currentUserID = Convert.ToInt32(myData);
    DataManager dm = new DataManager();
    var listData = dm.List(currentUserID);
}

<link href="~/Content/AlmondCss/veriekle.css" rel="stylesheet" />
<div class="row mt-3 mb-lg-5">
    <div class="col-sm-4 ">
        <div class="form-container" style="padding-top:11px">
            <div class="col-sm-12 mt-lg-4">
                @Html.Partial("Partials/_TextAreaPartial", new ViewDataDictionary
                {
                   {"addDataQuestionPlacholder","Soru"},
                   {"addDataAnswerPlacholder","Cevap" },
                   {"updateList",list},
                   {"addDataPage","1"},
                   {"AddData","AddData"}
               })
            </div>
        </div>
    </div>

    <div class="col-sm-8 ">
        @* Tablo oluşturmak için *@
        @Html.Partial("Partials/_AddDataTablePartial", listData)
    </div>
</div>
