@using AlmondWeb.BusinessLayer
@using AlmondWeb.WebApp.CacheHelper

@{
    ViewBag.Title = "Veri Sil";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
<div class="mb-lg-5">

    @Html.Partial("Partials/_DeleteandAllDataTable", new ViewDataDictionary
{
{"islemturu","Sil" }

})
</div>

