
@{
    ViewBag.Title = "Veri Sil";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<div class="container-fluid">
    @Html.Partial("Partials/_UpdateDeleteTablePartial", new ViewDataDictionary
    {
    {"islemturu","Sil" },
    {"islemturuLogosu","guncelle"}
    })
</div>
