@{
    ViewBag.Title = "Veri Sil";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
<div class="mb-lg-5">
    @Html.Action("FillTableForDelete", "Home")
</div>
<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>