@using AlmondWeb.BusinessLayer
@using AlmondWeb.WebApp.CacheHelper

@{
    ViewBag.Title = "Veri Sil";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    int currentUserID = CacheHelper.CurrentUserID();

    var list = CacheHelper.GetListDataformCache(currentUserID);

    var selectList = new SelectList(list, "id", "listName");//liste listesini viewdata ile gönderiyoruz.

    DataManager dm = new DataManager();
    var tableData = dm.ListwithExpression(x => x.Owner.Id == currentUserID);//current user a ait dataları listeliyoruz.

}
<div class="mb-lg-5">
    @Html.Partial("Partials/_UpdateDeleteTablePartial", tableData, new ViewDataDictionary
    {
    {"islemturu","Sil" },
    {"islemturuLogosu","guncelle"}
    })
</div>

