
@{
    ViewBag.Title = "Veri Sil";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
<div class="mb-lg-5">
@Html.Partial("Partials/_UpdateDeleteTablePartial", new ViewDataDictionary
{
{"islemturu","Sil" },
{"islemturuLogosu","guncelle"}
})
</div>