
@{
    ViewBag.Title = "Giriş Yap";
    Layout = "~/Views/Shared/LoginRegisterLayout.cshtml";
}
<form>
    <div class="row-sm-3 mb-5">
        <div class="col-sm-12">
            <h2 class="girisyapyazi">Giriş yap</h2>
        </div>
        <div>
            <h6 style="float: left;color: gray;">
                Yeni kullanıcı mısınız? <a href="registerPage.html">Bir hesap oluşturun.</a>
            </h6>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="form-floating row-sm-3 mt-5">
        <input type="email" class="form-control" id="formGroupExampleInput"
               placeholder="E-mail" required autofocus>
        <label for="floatingInput">E-mail </label>
    </div>

    <div class="form-floating row-sm-3 mt-2">
        <div class="col">
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Şifre</label>
            </div>
        </div>
        <a href="#" class="sifremiunuttum mt-1 ">Şifremi Unuttum :(</a>
    </div>
    <div class="row-sm-3">
        <button type="submit" class="btn btn-success mt-4 form-control girisbutonu">
            Giriş
            Yap
        </button>
    </div>
</form>