
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}
<link href="~/Content/AlmondCss/registerSuccess.css" rel="stylesheet" />

<div class="card mb-3" style="height:610px">
    <div class="row">
        <div class="row-sm-9 mb-4">
            <div>
                <img src="~/Images/success4.jpg" alt="Alternate Text" />
            </div>
        </div>
        <div class="row-sm-1">
            <h1>İşlem Başarılı</h1>
        </div>
        <div class="row-sm-2 ">
            <p>Kayıt işlemin gerçekleşti,uygulamayı kullanabilmen için sadece <br /> mail adresine gelen linke tıklayarak hesabını aktif etmen kaldı:)</p>
        </div>
    </div>
</div>

