
@{
    ViewBag.Title = "Veri Güncelle";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    SelectList list = ViewData["list"] as SelectList;
}

<link href="~/Content/Datatable.css" rel="stylesheet" />
<link href="~/Content/AlmondCss/veriekle.css" rel="stylesheet" />
<div class="row mt-3 mb-lg-5">
    <div class="col-sm-4 ">
        <div class="form-container" style="padding-top:11px">
            <div class="col-sm-12 mt-lg-4">
                @using (Html.BeginForm("Partials/UpdateData", "Home", "POST"))
                {
                    @Html.Partial("Partials/_TextAreaPartial", new ViewDataDictionary
                    {
                   {"updateQuestionPlacholder","Tablodan guncellemek istediğiniz veriyi seçiniz."},
                   {"updateAnswerPlacholder","Sectiginiz veri otomatik olarak buraya gelecektir." },
                   {"addDataPage","0"},
                   {"updateList",list}
               })
                    <div class="row-sm-3 mt-1">
                        <button type="submit" class="btn btn-success verieklebtn">Kaydet</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-sm-8 ">
        @* Tablo olıuşturmak için *@
        @Html.Partial("Partials/_UpdateDeleteTablePartial", new ViewDataDictionary
        {
        {"islemturu","Guncelle" },
        {"islemturuLogosu","sil"}
        })
    </div>
</div>
