.ana-ekran {
    height: 500px;
}

.puanlar {
    width: 19% !important;
}

.butonlar {
    text-align: center;
}

textarea {
    resize: none;
}

.yeniozellikoner {
    font-size: 10px;
}

.soru {
    place-items: center;
    display: grid;
    height: 220px;
    border-radius: 10px;
    background-color: #dfd3c3;
    margin-bottom: 4px;
}

.cevap {
    place-items: center;
    display: grid;
    height: 220px;
    border-radius: 10px;
    background-color: #a7bcb9;
}

.cevabigoster-grid {
    height: 60px;
    text-align: center;
}

.saga-yasla {
    float: right;
}

.cevap-butonu {
    padding-top: 9px;
    width: 280px;
    text-align: center;
}

.darkmode--activated #language {
    isolation: isolate;
    background-color: #2C3A47;
    font-weight: 300;
    font-family: ui-rounded;
    color: white;
}

.darkmode--activated .butonlar {
    isolation: isolate;
}

.darkmode--activated .puanlar {
    color: aliceblue;
}

.darkmode--activated .soru {
    background-color: #9BABB8;
}

.darkmode--activated .btn-outline-success {
    --bs-btn-color: #2C3333;
    --bs-btn-border-color: cadetblue;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2C3333;
    --bs-btn-hover-border-color: ##2C3333;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2C3333;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: #2C3333;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}

@media(max-width:767px) {

    /* küçük ekranlarda css*/
    .mainliste-dropdown {
        width: 120%;
        height: 40px;
        float: inherit;
        text-align: center;
    }

    #pdfalbuton {
        height: 50px !important;
    }
}

@media (min-width:768px) {

    /* büyük ekranlarda css */
    .mainliste-dropdown {
        width: 70% !important;
        height: 40px;
        float: inherit;
        text-align: center;
    }

    #pdfalbuton {
    }
}
