
.containerx {
    --input-focus: #2d8cf0;
    --input-out-of-focus: #ccc;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    cursor: pointer;
}

    .containerx input {
        position: absolute;
        opacity: 0;
    }

    .containerx.checkmark {
        width: 30px;
        height: 30px;
        position: relative;
        top: 0;
        left: 0;
        border: 2px solid var(--main-color);
        border-radius: 5px;
        box-shadow: 1px var(--main-color);
        background-color: var(--input-out-of-focus);
        transition: all 0.3s;
    }

    .containerx input:checked ~ .checkmark {
        background-color: var(--input-focus);
    }

    .containerx.checkmark:after {
        content: "";
        width: 7px;
        height: 15px;
        position: absolute;
        top: 2px;
        left: 9px;
        display: none;
        border: solid var(--bg-color);
        border-width: 0 2.5px 2.5px 0;
        transform: rotate(45deg);
    }

    .containerx input:checked ~ .checkmark:after {
        display: block;
    }

.buttonx {
    --font-color: #323232;
    --bg-color: #fff;
    --main-color: #323232;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

    .buttonx:active {
        box-shadow: 0px 0px var(--main-color);
        transform: translate(3px, 3px);
    }
