@media(max-width:767px) {
}

@media (min-width:768px) {
}

.btngirisyap {
    width: 100%;
    height: 35px;
    font-size: 17px;
    font-family: monospace;
    text-align: center;
    float: right;
}

.dropdown-toggle-split::after {
    display: flex !important;
}

.dropdown-menu {
    --bs-dropdown-link-active-color: black !important;
    --bs-dropdown-link-active-bg: whitesmoke !important;
}
