
@media (max-width: 767px) {
    /* küçük ekranlarda css */
    .imglar {
        width: 100%;
    }
}

@media (min-width: 768px) {
    /* büyük ekranlarda css */


    .imglar {
        width: 100%;
        height: 679px !important;
    }
}
