<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AlmondCss/admin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid bg-dark-subtle mt-0 ">
            <a class="navbar-brand fs-3 " href="Admin54">
                <img src="~/Images/logo/almondLogo1rmvbg.png" width="170px" alt="Alternate Text" />
                <span class="text-dark-emphasis font-monospace fs-6">Admin</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="Tüm Kullanıcılar"></a>
                    <a class="nav-link" href="TumListeler54">Tüm Listeler</a>
                    <a class="nav-link" href="TumMesajlar54">Tüm Mesajlar</a>
                    <a class="nav-link" href="Adminler54">Adminler</a>
                    <a class="nav-link " href="Istatistikler54">İstatistikler</a>
                    <a class="btn btn-secondary me-2" href="../Anasayfa">Kullanıcı Bölümüne Geç</a>
                    <a class="btn btn-danger" href="../Home/Logout">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
